* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  top: 0;
  display: flex;
  background-color: #e8dbc5;
  position: sticky;
}
.header #nav {
  width: 100%;
}
.header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.header li {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.header .navbar-toggler {
  color: #554640;
  background-color: #4e8098;
}
.header .logoPack {
  align-content: center;
  justify-items: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.header .logoPack .logo {
  display: block;
  align-self: center;
  justify-content: center;
  margin: 0;
  width: 5rem;
  height: 5rem;
}
.header .logoPack .brand {
  color: #554640;
  justify-self: center;
  font-size: 3.5rem;
}
.header #navbarNav {
  width: 100%;
  padding: 0.5rem;
}
.header #navbarNav .navUl .navbar a:hover {
  color: #4e8098;
  transition: all 0.3s;
  scale: 1.05;
}
.header #navbarNav .navUl .navbarA {
  text-decoration: none;
  font-size: 2.5rem;
  color: #554640;
}

.main {
  display: block;
  background-color: #4e8098;
  min-height: 100rem;
}
.main .bodyParagraph1 {
  display: flex;
  text-align: justify;
  padding: 3rem;
}
.main .bodyParagraph1 .txtParagraph1 {
  font-size: 3rem;
  color: #e8dbc5;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.main #indexVideos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.main #indexVideos .videosIndex {
  width: 35rem;
  height: 22rem;
  padding: 3rem;
  border-radius: 6rem;
}
.main .bodyParagraph2 {
  display: flex;
  text-align: justify;
  padding: 2rem;
}
.main .bodyParagraph2 .txtParagraph2 {
  font-size: 3rem;
  color: #e8dbc5;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#footer {
  background-color: #e8dbc5;
  display: flex;
  align-self: flex-end;
}
#footer .ulFooter {
  display: flex;
  flex-direction: column;
  align-content: center;
  list-style: none;
  justify-content: center;
}
#footer .ulFooter .footlink {
  padding-left: 0rem;
  padding-top: 0.4rem;
  font-size: 2rem;
}
#footer .ulFooter .footlink .linkFooter {
  text-decoration: none;
  color: #554640;
}
#footer .footIcons {
  list-style: none;
  align-self: flex-end;
  justify-self: flex-end;
}
#footer .footIcons .iconsFooter {
  padding-top: 0.7rem;
}
#footer .footIcons .iconsFooter .footLogo {
  height: 4rem;
  width: 4rem;
}

@media (max-width: 952px) {
  #indexVideos {
    flex-direction: column;
    align-items: center;
  }
}
.mainContact {
  display: flex;
  flex-direction: column;
  background-image: url(https://images.pexels.com/photos/1796715/pexels-photo-1796715.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  min-height: 100rem;
  justify-content: center;
  align-items: center;
}
.mainContact form {
  max-width: 68rem;
  min-width: 35rem;
  background-color: #4e8098;
  border-radius: 3rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
.mainContact form label {
  font-size: 2.4rem;
  color: #ffffff;
}
.mainContact form input {
  font-size: 1.3rem;
}
.mainContact form textarea {
  font-size: 1.3rem;
  min-height: 3rem;
}
.mainContact .infoContact {
  flex: 1;
  max-width: 30rem;
  background-color: #4e8098;
  color: #e8dbc5;
  padding: 2rem;
  border-radius: 2rem;
  max-height: 17rem;
}
.mainContact .contactPageSpeech {
  background-color: #4e8098;
  padding: 2.2rem;
  border-radius: 2rem;
  max-width: 68rem;
  align-items: center;
  justify-content: center;
}
.mainContact .contactPageSpeech .speechContact {
  font-size: 3rem;
  color: #e8dbc5;
  text-align: justify;
}

.mainCities {
  display: block;
  background-color: #4e8098;
  min-height: 100rem;
  padding: 4rem;
}
.mainCities .linkCities {
  text-decoration: none;
}
.mainCities .linkCities .citiesIMG {
  width: 20rem;
  height: 13rem;
  border-radius: 3rem;
}
.mainCities .linkCities .linkCitiesBrand {
  color: #e8dbc5;
  font-size: 3rem;
}
.mainCities .citiesParagraph .txtParagraphCities {
  font-size: 4rem;
  color: #e8dbc5;
  text-align: center;
}

.mainCities .blogIntro {
  padding: 2rem;
}
.mainCities .blogIntro .blogIntroP {
  font-size: 3.5rem;
  color: #e8dbc5;
  text-align: justify;
}
.mainCities .blogParagraph {
  padding: 2rem;
}
.mainCities .blogParagraph .blogTxt {
  font-size: 3.5rem;
  color: #e8dbc5;
  text-align: justify;
}

.main .usPage .usPageUs {
  text-align: justify;
  padding: 3rem;
}
.main .usPage .usPageUs .usTitle {
  font-size: 4rem;
  font-style: italic;
  color: #e8dbc5;
  text-align: center;
}
.main .usPage .usPageUs .usSpan {
  font-size: 2.2rem;
  color: #ffffff;
  text-align: center;
}
.main .usPage .usPageInicios {
  text-align: justify;
  padding: 3rem;
}
.main .usPage .usPageInicios .usTitle {
  font-size: 4rem;
  font-style: italic;
  color: #e8dbc5;
  text-align: center;
}
.main .usPage .usPageInicios .usSpan {
  font-size: 2.2rem;
  color: #ffffff;
  text-align: center;
}
.main .usPage .usPageI {
  text-align: justify;
  padding: 3rem;
}
.main .usPage .usPageI .usTitle {
  font-size: 4rem;
  font-style: italic;
  color: #e8dbc5;
  text-align: center;
}
.main .usPage .usPageI .usSpan {
  font-size: 2.2rem;
  color: #ffffff;
  text-align: center;
}
.main .usPage .asideUs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .usPage .asideUs .usMedia {
  width: 30rem;
  height: 18rem;
  padding: 1rem;
  border-radius: 6rem;
}
.main .usPage .asideUs .usMediaF {
  width: 30rem;
  height: 18rem;
  padding: 1rem;
  border-radius: 6rem;
}

@media (max-width: 952px) {
  .asideUs {
    flex-direction: column;
    align-items: center;
  }
}
.main .headFlag {
  width: 100%;
  background-image: url(https://www.countryflags.com/wp-content/uploads/germany-flag-png-large.png);
  height: 15rem;
  background-size: contain;
}
.main .headFlag .BheadTitle {
  font-size: 10rem;
  color: #ffffff;
  text-align: center;
}
.main .berlinContent .berlinTheCity {
  text-align: center;
  padding: 3rem;
}
.main .berlinContent .berlinTheCity .BtheCityTitle {
  color: #e8dbc5;
  font-size: 5rem;
}
.main .berlinContent .berlinTheCity .BtheCitySpan {
  font-size: 2rem;
}
.main .berlinContent .berlinFood {
  text-align: center;
  padding: 3rem;
}
.main .berlinContent .berlinFood .BfoodTitle {
  color: #e8dbc5;
  font-size: 5rem;
}
.main .berlinContent .berlinFood .BfoodSpan {
  font-size: 3rem;
}
.main .berlinContent .berlinImages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.main .berlinContent .berlinImages .BImages {
  width: 34rem;
  height: 19rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  border-radius: 6rem;
}

@media (max-width: 952px) {
  .berlinImages {
    flex-direction: column;
    align-items: center;
  }
}
.main .headFlagLon {
  background-image: url(https://www.countryflags.com/wp-content/uploads/england-flag-jpg-xl.jpg);
  width: 100%;
  height: 15rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.main .headFlagLon .LheadTitle {
  font-size: 10rem;
  color: black;
  text-align: center;
}
.main .londonContent .londonTheCity {
  text-align: center;
  padding: 3rem;
}
.main .londonContent .londonTheCity .LtheCityTitle {
  color: #e8dbc5;
  font-size: 5rem;
}
.main .londonContent .londonTheCity .LtheCitySpan {
  font-size: 2rem;
}
.main .londonContent .londonFood {
  text-align: center;
  padding: 3rem;
}
.main .londonContent .londonFood .LfoodTitle {
  color: #e8dbc5;
  font-size: 5rem;
}
.main .londonContent .londonFood .LfoodSpan {
  font-size: 2rem;
}
.main .londonContent .londonImages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.main .londonContent .londonImages .LImages {
  width: 34rem;
  height: 19rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  border-radius: 6rem;
}

@media (max-width: 952px) {
  .londonImages {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 798px) {
  .main .headFlagLon .LheadTitle {
    font-size: 8rem;
    text-align: center;
  }
}
.main .headFlagR {
  width: 100%;
  background-image: url(https://www.countryflags.com/wp-content/uploads/italy-flag-png-large.png);
  height: 15rem;
  background-size: cover;
}
.main .headFlagR .RheadTitle {
  font-size: 10rem;
  color: black;
  text-align: center;
}
.main .romeContent .romeTheCity {
  text-align: center;
  padding: 3rem;
}
.main .romeContent .romeTheCity .RtheCityTitle {
  color: #e8dbc5;
  font-size: 5rem;
}
.main .romeContent .romeTheCity .RtheCitySpan {
  font-size: 2rem;
}
.main .romeContent .romeFood {
  text-align: center;
  padding: 3rem;
}
.main .romeContent .romeFood .RfoodTitle {
  color: #e8dbc5;
  font-size: 5rem;
}
.main .romeContent .romeFood .RfoodSpan {
  font-size: 2rem;
}
.main .romeContent .romeImages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.main .romeContent .romeImages .RImages {
  width: 34rem;
  height: 19rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  border-radius: 6rem;
}

@media (max-width: 952px) {
  .romeImages {
    flex-direction: column;
    align-items: center;
  }
}
.main .headFlagP {
  width: 100%;
  background-image: url(https://www.countryflags.com/wp-content/uploads/france-flag-png-large.png);
  height: 15rem;
  background-size: cover;
}
.main .headFlagP .PheadTitle {
  font-size: 10rem;
  color: black;
  text-align: center;
}
.main .parisContent .parisTheCity {
  text-align: center;
  padding: 3rem;
}
.main .parisContent .parisTheCity .PtheCityTitle {
  color: #e8dbc5;
  font-size: 5rem;
}
.main .parisContent .parisTheCity .PtheCitySpan {
  font-size: 2rem;
}
.main .parisContent .parisFood {
  text-align: center;
  padding: 3rem;
}
.main .parisContent .parisFood .PfoodTitle {
  color: #e8dbc5;
  font-size: 5rem;
}
.main .parisContent .parisFood .PfoodSpan {
  font-size: 2rem;
}
.main .parisContent .parisImages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.main .parisContent .parisImages .PImages {
  width: 34rem;
  height: 19rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  border-radius: 6rem;
}

@media (max-width: 952px) {
  .parisImages {
    flex-direction: column;
    align-items: center;
  }
}
.main .headFlagN {
  background-image: url(https://www.countryflags.com/wp-content/uploads/norway-flag-png-large.png);
  width: 100%;
  height: 15rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.main .headFlagN .NheadTitle {
  font-size: 10rem;
  color: black;
}
.main .norgeContent .norgeTheCity {
  text-align: center;
  padding: 3rem;
}
.main .norgeContent .norgeTheCity .NtheCityTitle {
  color: #e8dbc5;
  font-size: 5rem;
}
.main .norgeContent .norgeTheCity .NtheCitySpan {
  font-size: 2rem;
}
.main .norgeContent .norgeFood {
  text-align: center;
  padding: 3rem;
}
.main .norgeContent .norgeFood .NfoodTitle {
  color: #e8dbc5;
  font-size: 5rem;
}
.main .norgeContent .norgeFood .NfoodSpan {
  font-size: 2rem;
}
.main .norgeContent .norgeImages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.main .norgeContent .norgeImages .NImages {
  width: 34rem;
  height: 19rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  border-radius: 6rem;
}

@media (max-width: 952px) {
  .norgeImages {
    flex-direction: column;
    align-items: center;
  }
}
.main .BlogArticle .BlogContent {
  padding: 2rem;
  text-align: justify;
}
.main .BlogArticle .BlogContent .blogTitle {
  font-size: 6rem;
  color: #e8dbc5;
  font-style: italic;
  text-align: center;
}
.main .BlogArticle .BlogContent .blogIntro {
  font-size: 2rem;
  color: #ffffff;
}
.main .BlogArticle .BlogContent .blogEntranceTitle {
  font-size: 3.4rem;
  color: #e8dbc5;
  margin-top: 3rem;
}
.main .BlogArticle .BlogContent .blogEntrance {
  font-size: 2rem;
  color: #ffffff;
}
.main .BlogArticle .blogImages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.main .BlogArticle .blogImages .londonBlogIMG {
  width: 30rem;
  height: 18rem;
  padding: 1rem;
  border-radius: 6rem;
}

@media (max-width: 952px) {
  .blogImages {
    flex-direction: column;
    align-items: center;
  }
}
.main .blogArticle .blogImages {
  align-items: center;
  justify-content: center;
}
.main .blogArticle .blogImages .osloBlogIMG {
  width: 30rem;
  height: 18rem;
  padding: 1rem;
  border-radius: 6rem;
}

.main .blogArticle .blogContent {
  padding: 2rem;
  text-align: justify;
}
.main .blogArticle .blogContent .blogTitle {
  font-size: 6rem;
  text-align: center;
  color: #e8dbc5;
  font-style: italic;
}
.main .blogArticle .blogContent .blogIntro {
  font-size: 2rem;
  color: #ffffff;
}
.main .blogArticle .blogContent .blogEntranceTitle {
  font-size: 3.4rem;
  color: #e8dbc5;
  margin-top: 3.5rem;
}
.main .blogArticle .blogContent .blogEntrance {
  font-size: 2rem;
  color: #ffffff;
}
.main .blogArticle .blogImages {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .blogArticle .blogImages .parisBlogIMG {
  width: 35rem;
  height: 18rem;
  padding: 1rem;
  border-radius: 6rem;
}

@media (max-width: 952px) {
  .blogImages {
    flex-direction: column;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
