.mainCities {
    .blogIntro {
        .blogIntroP {
            font-size: 3.5rem;
            color: #e8dbc5;
            text-align: center;
        }
    }
    .blogParagraph {
        .blogTxt {
            font-size: 3.5rem;
            color: #e8dbc5;
            text-align: center;
        }
    }
}