.mainCities {
    .blogIntro {
        padding: 2rem;
        .blogIntroP {
            font-size: 3.5rem;
            color: #e8dbc5;
            text-align: justify;
        }
    }
    .blogParagraph {
        padding: 2rem;
        .blogTxt {
            font-size: 3.5rem;
            color: #e8dbc5;
            text-align: justify;
        }
    }
}