@use 'variables';
.mainCities {
    display: block;
    background-color: variables.$bg1;
    min-height: 100rem;
    .linkCities {
        text-decoration: none;
        .citiesIMG {
            width: 20rem;
            height: 13rem;
        }
        .linkCitiesBrand {
            color: variables.$bg2;
            font-size: variables.$sizeL;
        }
    }
    .citiesParagraph {
        .txtParagraphCities {
            font-size: 4rem;
            color: variables.$bg2;
            text-align: center;
        }
    }
}