.mainCities {
    background-color: #4e8098;
    .linkCities {
        text-decoration: none;
        .citiesIMG {
            width: 20rem;
            height: 13rem;
        }
        .linkCitiesBrand {
            color: #e8dbc5;
            font-size: 3rem;
        }
    }
    .citiesParagraph {
        .txtParagraphCities {
            font-size: 4rem;
            color: #e8dbc5;
            text-align: center;
        }
    }
}