@use 'variables';
.mainContact {
    display: flex;
    flex-direction: column;
    background-image: url(https://images.pexels.com/photos/1796715/pexels-photo-1796715.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    min-height: 100rem;
    justify-content: center;
    align-items: center;
    form {
        max-width: 68rem;
        min-width: 35rem;
        background-color: variables.$bg1;
        border-radius: variables.$sizeL;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        label {
            font-size: 2.4rem;
            color: variables.$white;
        }
        input {
            font-size: 1.3rem;
        }
        textarea {
            font-size: 1.3rem;
            min-height: 3rem;
        }
    }
    .infoContact {
        flex: 1;
        max-width: 30rem;
        background-color: variables.$bg1;
        color: variables.$bg2;
        padding: 2rem;
        border-radius: 2rem;
        max-height: 17rem;
    }
    .contactPageSpeech {
        background-color: variables.$bg1;
        padding: 2.2rem;
        border-radius: 2rem;
        max-width: 68rem;
        align-items: center;
        justify-content: center;
        .speechContact {
            font-size: variables.$sizeL;
            color: variables.$bg2;
            text-align: justify;
        }
    }
}