.mainContact {
    background-image: url(https://images.pexels.com/photos/1796715/pexels-photo-1796715.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    .contactSection {
        .titleContact {
            font-size: 4rem;
            color: #ffffff;
        }
        form {
            label {
                display: block;
                margin-bottom: 0.5rem;
                font-size: 2rem;
                color: #ffffff;
                width: 10rem;
            }
            input {
                width: 30rem;
                padding: 1rem;
                margin-bottom: 1rem;
                border: 0.1rem solid #ccc;
                border-radius: 0.5rem;
            }
            .txtandbutton {
                display: flex;
                align-items: flex-end;
                margin-bottom: 1rem;
                textarea {
                    width: 30rem;
                    border: 0.1rem solid #ccc;
                    border-radius: 0.5rem;
                }
                button {
                    background-color: #e8dbc5;
                    color: #554640;
                    padding: 1rem 2rem;
                    border: none;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    height: 3.5rem;
                }
            }
        }
    }
    .asideContact {
        flex: 1;
        max-width: 30rem;
        background-color: #4e8098;
        color: #e8dbc5;
        padding: 2rem;
    }
    .contactPageSpeech {
        background-color: #4e8098;
        padding: 2rem;
        .speechContact {
            font-size: 3rem;
            color: #e8dbc5;
            text-align: justify;
        }
    }
}