@use 'variables';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Times New Roman', Times, serif;
}
body {
    margin: 0;
    padding: 0;
}
@mixin dCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    top: 0;
    display: flex;
    background-color: variables.$bg2;
    position: sticky;
        #nav {
            width: 100%;
        }
        ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
        }
        li {
            margin-left: variables.$sizeS * 2;
            margin-right: variables.$sizeS * 2;
            margin-top: 0.2rem;
            margin-bottom: 0.2rem;
        }
        .navbar-toggler {
            color: variables.$tc;
            background-color: variables.$bg1;
        }
        .logoPack {
            align-content: center;
            justify-items: center;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            .logo {
                display: block;
                align-self: center;
                justify-content: center;
                margin: 0;
                width: 5rem;
                height: 5rem;
            }
            .brand {
                    color: variables.$tc;
                    justify-self: center;
                    font-size: 3.5rem;
                }
            }
        #navbarNav {
            width: 100%;
            padding: 0.5rem;
            .navUl {
                .navbar {
                    & a:hover {
                        color: variables.$bg1;
                        transition: all .3s;
                        scale: 1.05;
                    }
                }
                .navbarA {
                    text-decoration: none;
                    font-size: 2.5rem;
                    color: variables.$tc;
                }   
            }
        }   
}
.main {
    display: block;
    background-color: variables.$bg1;
    min-height: 100rem;
    .bodyParagraph1 {
        display: flex;
        text-align: justify;
        padding: variables.$sizeM * 2;
        .txtParagraph1 {
            font-size: variables.$sizeL;
            color: variables.$bg2;
            margin-top: variables.$sizeL;
            margin-bottom: variables.$sizeL;
        }
    }
    #indexVideos {
        @include dCenter;
        padding: 0;
        .videosIndex {
            width: 35rem;
            height: 22rem;
            padding: variables.$sizeL;
        }
    }
    .bodyParagraph2 {
        display: flex;
        text-align: justify;
        padding: variables.$sizeS * 2;
        .txtParagraph2 {
            font-size: variables.$sizeL;
            color: variables.$bg2;
            margin-top: variables.$sizeL;
            margin-bottom: variables.$sizeL;
        }
    }
}
#footer {
    background-color: variables.$bg2;
    display: flex;
    align-self: flex-end;
    .ulFooter {
        display: flex;
        flex-direction: column;
        align-content: center;
        list-style: none;
        justify-content: center;
        .footlink {
            padding-left: 0rem;
            padding-top: 0.4rem;
            font-size: 2rem;      
            .linkFooter {
                text-decoration: none;
                color: variables.$tc;
            }
        }
    }
    .footIcons { 
        list-style: none;
        align-self: flex-end;
        justify-self: flex-end;
        .iconsFooter {
            padding-top: 0.7rem;
            .footLogo {
                height: 4rem;
                width: 4rem;
            }
        }
    }
}
@media (max-width: 952px) {
    #indexVideos {
        flex-direction: column;
        align-items: center;
    }
}
