@use 'variables';
@mixin dCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    .BlogArticle {
        .BlogContent {
            padding: 2rem;
            text-align: justify;
            .blogTitle {
                font-size: variables.$sizeL * 2 ;
                color: variables.$bg2;
                font-style: italic;
                text-align: center;
            }
            .blogIntro {
                font-size: 2rem;
                color: variables.$white;
            }
            .blogEntranceTitle {
                font-size: 3.4rem;
                color: variables.$bg2;
                margin-top: variables.$sizeL;
            }
            .blogEntrance {
                font-size: 2rem;
                color: variables.$white;
            }
        }
        .blogImages {
            @include dCenter;
            padding: 0;
            .londonBlogIMG {
                width: 30rem;
                height: 18rem;
                padding: 1rem;
                border-radius: variables.$sizeL * 2;
            }
        }
    }
}
@media (max-width: 952px) {
    .blogImages {
        flex-direction: column;
        align-items: center;
    }
}