.main {
    .BlogArticle {
        .BlogContent {
            padding: 2rem;
            text-align: justify;
            .blogTitle {
                font-size: 6rem ;
                color: #e8dbc5;
                font-style: italic;
                text-align: center;
            }
            .blogIntro {
                font-size: 2rem;
                color: #fff;
            }
            .blogEntranceTitle {
                font-size: 3.4rem;
                color: #e8dbc5;
            }
            .blogEntrance {
                font-size: 2rem;
                color: #fff;
            }
        }
        .blogImages {
            display: flex;
            align-items: center;
            .londonBlogIMG {
                width: 50rem;
                height: 28rem;
                padding: 3rem;
            }
        }
    }
}
@media (max-width: 952px) {
    .blogImages {
        flex-direction: column;
        align-items: center;
        .londonBlogIMG {
            width: 40rem;
            height: 22rem;
        }
    }
}