.main {
    .londonBlogArticle {
        .londonBlogContent {
            .blogTitle {
                font-size: 5rem ;
            }
            .blogIntro {
                font-size: 2rem;
            }
            .blogEntranceTitle {
                font-size: 3.4rem;
            }
            .blogEntrance {
                font-size: 2rem;
            }
        }
    }
}