.main {
    .blogArticle {
        .blogImages {
            align-items: center;
            justify-content: center;
            .osloBlogIMG {
                width: 30rem;
                height: 18rem;
                padding: 1rem;
            }
        }
    }
}