@use 'variables';
@mixin dCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    .blogArticle {
        .blogContent {
            padding: 2rem;
            text-align: justify;
            .blogTitle {
                font-size: 6rem ;
                text-align: center;
                color: variables.$bg2;
                font-style: italic;
            }
            .blogIntro {
                font-size: 2rem;
                color: variables.$white;
            }
            .blogEntranceTitle {
                font-size: 3.4rem;
                color: variables.$bg2;
                margin-top: 3.5rem;
            }
            .blogEntrance {
                font-size: 2rem;
                color: variables.$white;
            }
        }
        .blogImages {
            @include dCenter;
            .parisBlogIMG {
                width: 35rem;
                height: 18rem;
                padding: 1rem;
            }
        }
    }
}
@media (max-width: 952px) {
    .blogImages {
        flex-direction: column;
        align-items: center;
    }
}