@use 'variables';
@mixin dCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    .usPage {
        .usPageUs {
            text-align: justify;
            padding: variables.$sizeL;
            .usTitle {
                font-size: 4rem;
                font-style: italic;
                color: variables.$bg2;
                text-align: center;
            }
            .usSpan {
                font-size: 2.2rem;
                color: variables.$white;
                text-align: center;
            }
        }
        .usPageInicios {
            text-align: justify;
            padding: variables.$sizeL;
            .usTitle {
                font-size: 4rem;
                font-style: italic;
                color: variables.$bg2;
                text-align: center;
            }
            .usSpan {
                font-size: 2.2rem;
                color: variables.$white;
                text-align: center;
            } 
        }
        .usPageI {
            text-align: justify;
            padding: variables.$sizeL;
            .usTitle {
                font-size: 4rem;
                font-style: italic;
                color: variables.$bg2;
                text-align: center;
            }
            .usSpan {
                font-size: 2.2rem;
                color: variables.$white;
                text-align: center;
            }
        }
        .asideUs {
            @include dCenter;
            .usMedia {
                width: 30rem;
                height: 18rem;
                padding: 1rem;
            }
            .usMediaF {
                width: 30rem;
                height: 18rem;
                padding: 1rem;
            }
        }
    }
}
@media (max-width: 952px) {
    .asideUs {
        flex-direction: column;
        align-items: center;
    }
}